

/*
.header{
  height: $header-height;
}*//*
.flexbox{
	display: flex;
}


.side-menu{
	height:100vh;
  list-style-type: none;
}



.side-menu.left {
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position:relative;
    top: inherit;
    width: 240px;
	}




.invisible-input{
  background-color: inherit;
  box-shadow: none;
  border-width: 0px;
  width: 100%;
  padding:4.5px 9px;
}

.invisible-input:focus{
  background-color: inherit;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
}


.modal-lg{
  max-width: 1300px;
}

.close{
  font-size: 24px;
}

.modal-header{
  border-bottom: none;
}
.separate{
  margin-top:10px;
}

.menu-title{
  pointer-events:inherit;
}


.menu-item{
  padding: 12px 20px 0px 20px;
}

.alert{
  opacity:100;
}

.sidebar-tab{
  padding-right: 17px;
}


.primary-color{
  color:#007bff;
}

.success-color{
  color:#1e7e34;
}


.task-edit-container{
//	max-width: 1110px;
}*/
