.bottom-15 {
  bottom: 15px;
}

.bottom-20 {
  bottom: 20px;
}

//FLOAT
.f-r {
  float: right;
}

.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  float: none !important;
}

//POSITION
.position-inherit {
  position: inherit;
}

.position-absolute {
  position: absolute;
}


//DISPLAY
.display-none {
  display: none;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.row {
  display: flex !important;
  margin: 0px;
}

//FLEX

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.f-1 {
  flex: 1;
}
.flex {
  flex: 1;
}

//ALIGNMENT
.v-a-m {
  vertical-align: middle;
}

.v-a-b {
  vertical-align: baseline !important;
}

.a-i-c {
  align-items: center;
}

.a-s-c{
  align-self: center;
}

.asc {
  align-self: center;
}

//COLS
.col-1-5 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-1-45 {
  flex: 0 0 12.35%;
  max-width: 12.35%;
}

.col-0-5 {
  flex: 0 0 8.2%;
  max-width: 8.2%;
}

.col-10-5 {
  flex: 0 0 87.5%;
  max-width: 87.5%;
}

.col-10-45 {
  flex: 0 0 87.65%;
  max-width: 87.65%;
}

.col-11-5 {
  flex: 0 0 91.8%;
  max-width: 91.8%;
}
