.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-visible {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-x-auto {
  overflow-x: auto !important;
}

.overflow-x {
  overflow-x: auto;
}

.no-scrolling {
  textarea {
    overflow: hidden;
  }
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflowX {
  overflow-x: auto;
}
