//PADDING
.p-t-17p {
  padding-top: 17% !important;
}

p-auto {
  padding-left: auto;
  padding-right: auto;
  padding-top: auto;
  padding-bottom: auto;
}

//MARGIN
.center-ver {
  margin-left: auto !important;
  margin-right: auto !important;
}

.center-hor {
  margin-top: auto !important;
  margin-bottom: auto !important;
  vertical-align: middle !important;
}

.m-r--40 {
  margin-right: -40px;
}

.m-l--40 {
  margin-left: -40px !important;
}

.m-t-17p {
  margin-top: 17% !important;
}
