.notification-read-small {
}

.notification-not-read-small {
  font-weight: bold;
}

.notification-read {
  background-color: white;
}

.notification-not-read {
  background-color: white;
  font-weight: bold;
}
