$header-height: 40px;
$height-without-header: calc( 100vh - calc(#{$header-height})  );
$sidebar-width: 300px;
$sidebar-item-height: 40px;
$inputs-border: 6px solid red;
$main-font: Segoe UI;
$main-font-bold: Segoe UI Semibold;
$main-font-size: 14px;
$button-height: 30px;

$font-link: 14px Segoe UI;
$color-link: #0078D7;

$font-label: 14px Segoe UI Semibold;
$color-label: #333;

$font-task-description: 15px Segoe UI Semibold;
$color-task-description: #333;

$font-value: 14px Segoe UI;
$color-value: #333;

$font-no-value: 14px Segoe UI;
$color-no-value: #777;

$font-no-value-mandatory: 14px Segoe UI;
$color-no-value-mandatory: #E81123;

$font-info-text: 12px Segoe UI;
$font-info-text-bold: 12px Segoe UI Semibold;
$color-info-text: #333;

$odsadenie-form: 30px;


//farby
$main-background-color: white;
$sidebar-background-color: #F9F9F9;
$form-background-color: white;
$form-highlighted-background: #f4f8fb;
$secondary-form-background-color: #F9F9F9;
$task-right-background-color: #F9F9F9;
$main-font-color: #3C3C3C;
$muted-font-color: #BDBDBD;
$contrasting-font-color: #494949;
$header-color: #004578;
$basic-button-color: #0078D4;
$muted-gray: #d9d8d8;
$sidebar-item-color: #DCECF9;
$table-lines: #f1f1f1;
